<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Pokedesk</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

  <script src="pokemon.js"></script>
  <link rel="stylesheet" type="text/css" href="pokemon.css">
</head>
<body>
  <body ng-app='pokedexApp'>
      <div ng-controller='PokedexCtrl'>
        <input type="checkbox" ng-model="selectedAll" ng-click="checkAll()" />
        <div>
          <div ng-repeat='type in pokemonTypes.objects'>
            <label for={{type.name}}>{{type.name}}
              <input ng-click = "removeInitState()" type="checkbox" name={{type.name}} checked="false" ng-change="includeTypes(type)" ng-model='type.selected' ng-init="type.selected = false" id={{type.name}}>
            </label>
          </div>
        </div>
        <div id='pokemon-list'>
          <ul id='pokemons'>
            <li ng-repeat='pokemon in pokemons.objects' class='pokemon' ng-show="pokemon.checked" ng-init="pokemon.checked = true">
              <a href="#" ng-click = "getInfo(pokemon.pkdx_id)">
                <h3>{{pokemon.name}}</h3>
                <img ng-src="http://pokeapi.co/media/img/{{pokemon.pkdx_id}}.png" width='100' alt="{{pokemon.name}}" />
                <span ng-repeat='type in pokemon.types'>{{type.name}}</span>
              </a>
            </li>
          </ul>
          <button type="button" ng-click='loadMore(pokemons.meta.next)'>Load More</button>
        </div>
        <div id='pokemon-details'>
            <img src="" id='pokemonPic' width='200'/>
            <h2>{{pokemonInfo.name}} #{{("0000" + pokemonInfo.pkdx_id).slice(-4)}}</h2>
            <table border="1">
              <tr>
                <td>Type</td>
                <td><span ng-repeat='type in pokemonInfo.types'>{{type.name}} </span></td>
              </tr>
              <tr>
                <td>Attack</td> <td>{{pokemonInfo.attack}}</td>
              </tr>
              <tr>
                <td>Defense</td> <td>{{pokemonInfo.defense}}</td>
              </tr>
              <tr>
                <td>HP</td> <td>{{pokemonInfo.hp}}</td>
              </tr>objects.
              <tr>
                <td>SP Atack</td> <td>{{pokemonInfo.sp_atk}}</td>
              </tr>
              <tr>
                <td>SP Deffense</td> <td>{{pokemonInfo.sp_def}}</td>
              </tr>
              <tr>
                <td>Speed</td><td>{{pokemonInfo.speed}}</td>
              </tr>
              <tr>
                <td>Weight</td><td>{{pokemonInfo.weight}}</td>
              </tr>
              <tr>
                <td>Total movesS</td><td>{{pokemonInfo.moves.length}}</td>
              </tr>
            </table>
        </div>
      </div>
    </body>
</html>
