<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Pokedex</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="pokemon.js"></script>
  <link rel="stylesheet" type="text/css" href="pokemon.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
</head>
<body>
  <body ng-app='pokedexApp'>
      <div class="pokedex__preloader">
        <div class="pokedex__spinner">
          <div class="pokedex__bounce1"></div>
          <div class="pokedex__bounce2"></div>
        </div>
      </div>
      <div class="pokedex" ng-controller='PokedexCtrl'>
        <header class="header">
          <h1 class="header__title pokedex-wrapper">POKEDEX</h1>
        </header>

        <div class="filter pokedex-wrapper">
          <span class="filter__title">Chose power:</span>
          <div class="filter__item" ng-repeat='type in pokemonTypes.objects'>
            <input class="filter__checkbox" ng-click = "removeInitState()" type="checkbox" name={{type.name}} checked="false" ng-change="includeTypes(type)" ng-model='type.selected' ng-init="type.selected = false" id={{type.name}}>
            <label for={{type.name}}><span class="filter__label {{type.name.toLowerCase()}}">{{type.name}}</span></label>
          </div>
          <button type="checkbox" class="filter__check-all" ng-model="selectedAll" ng-click="checkAll()">Reset all types</button>
        </div>

        <div class="pokemon-board" id='pokemon-list'>
          <ul class="pokemon-board__list pokedex-wrapper" id='pokemons'>
            <li class="pokemon" ng-repeat='pokemon in pokemons.objects' ng-show="pokemon.checked" ng-init="pokemon.checked = true">
              <a class="pokemon__wrapper" ng-click = "getInfo(pokemon.pkdx_id, $event)">
                <div class="pokemon__body">
                  <h3 class="pokemon__name">{{pokemon.name}}</h3>
                  <img class="pokemon__image" ng-src="http://pokeapi.co/media/img/{{pokemon.pkdx_id}}.png" alt="{{pokemon.name}}" />
                </div>
                <span class="pokemon__type {{type.name}}" ng-repeat='type in pokemon.types'>{{type.name}}</span>
              </a>
              <div class="pokemon__spinner">
                <div class="pokedex__bounce1"></div>
                <div class="pokedex__bounce2"></div>
              </div>
            </li>
          </ul>
          <div class="button-container">
            <button class="btn-more" type="button" ng-show="loadMoreButton" ng-init="loadMoreButton = true" ng-click='loadMorePokemons(pokemons.meta.next)'>Load more </button>
            <div class="btn-more__spinner">
              <div class="pokedex__bounce1"></div>
              <div class="pokedex__bounce2"></div>
            </div>
          </div>
        </div>

        <div id="pokemon-details" class='pokemon-details'>
          <div class="pokemon-details__container">
            <div class="pokemon-details__body">
              <div class="pokemon-details__cross" ng-click="closePopup($event)"></div>
              <h2 class="pokemon-details__title">{{pokemonInfo.name}} #{{("0000" + pokemonInfo.pkdx_id).slice(-4)}}</h2>
              <img class="pokemon-details__image" src="" id='pokemonPic'/>
              <table class="pokemon-details__table" boarder="1">
                <tr>
                  <td>Type</td>
                  <td><span ng-repeat='type in pokemonInfo.types'>{{type.name}} </span></td>
                </tr>
                <tr>
                  <td>Attack</td> <td>{{pokemonInfo.attack}}</td>
                </tr>
                <tr>
                  <td>Defense</td> <td>{{pokemonInfo.defense}}</td>
                </tr>
                <tr>
                  <td>HP</td> <td>{{pokemonInfo.hp}}</td>
                </tr>
                <tr>
                  <td>SP Atack</td> <td>{{pokemonInfo.sp_atk}}</td>
                </tr>
                <tr>
                  <td>SP Deffense</td> <td>{{pokemonInfo.sp_def}}</td>
                </tr>
                <tr>
                  <td>Speed</td><td>{{pokemonInfo.speed}}</td>
                </tr>
                <tr>
                  <td>Weight</td><td>{{pokemonInfo.weight}}</td>
                </tr>
                <tr>
                  <td>Total moves</td><td>{{pokemonInfo.moves.length}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <footer class="footer">
          <div class="pokedex-wrapper">
            <a target="_blank" href="https://github.com/Kilmyashkin" class="footer__author">@Kilmyashkin</a>
            <span class="footer__message">© for kottans with <3</span>
          </div>
        </footer>
      </div>
    </body>
</html>
